extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		if subPages.digitalBanking.headerPosition != undefined
			.background-image-holder(class="#{subPages.digitalBanking.headerPosition}")
				if subPages.digitalBanking.headerImage != undefined
					img(src="#{asset(subPages.digitalBanking.headerImage)}" alt="header image")
		else
			.background-image-holder.bg-cc
				if subPages.digitalBanking.headerImage != undefined
					img(src="#{asset(subPages.digitalBanking.headerImage)}" alt="header image")
				else
					img(src="/img/header/digitalBanking.jpg" alt="header image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue= subPages.digitalBanking.pageTitle
	section
		.container
			if subPages.digitalBanking.subPageSections != undefined
				for item in subPages.digitalBanking.subPageSections
					if item.sys.contentType.sys.id === 'textSection'
						.row.mb--2
							.col-sm-12
								if item.fields.subhead != undefined
									h5.color--blue= item.fields.subhead
								if item.fields.body != undefined
									.md!= md(item.fields.body)
			//- .row
			//- 	.col-md-12
			//- 		h5.color--blue Online Banking
			//- 		p.
			//- 			#[a(href="https://tularefcu.online-cu.com/ISuite5/Features/Auth/MFA/Default.aspx" target="_blank" rel="noopener") Online Banking] is the way to conveniently manage your accounts – 24/7.
			//- .row.mt--2
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• View and print your account information
			//- 		p.bullet.unmarg.
			//- 			• Review activity and pending transactions
			//- 		p.bullet.unmarg.
			//- 			• View images of checks that have cleared your account
			//- 		p.bullet.unmarg.
			//- 			• Update contact information
			//- 		p.bullet.unmarg.
			//- 			• Transfer funds between Tulare Federal accounts
			//- 		p.bullet.unmarg.
			//- 			• Pay your bills with our online #[a(href="#billpay") Bill Pay]
			//- 		p.bullet.unmarg.
			//- 			• Go paperless by switching to #[a(href="https://tularefcu.online-cu.com/ISuite5/Features/Auth/MFA/Default.aspx" target="_blank" rel="noopener") E-Statements]
			//- 		p.bullet.unmarg.
			//- 			• Set up account #[span(data-tooltip="e-Lerts are e-mail notifications you can set up for specific transactions on your account.") eLerts]
			//- .row.mt--1
			//- 	.col-md-12
			//- 		h5.color--blue Mobile Application
			//- 		p.
			//- 			Banking in the palm of your hand –anytime, anywhere.
			//- .row.mt--2.final
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• View account
			//- 		p.bullet.unmarg.
			//- 			• Transfer funds
			//- 		p.bullet.unmarg.
			//- 			• Deposit checks
			//- 		p.bullet.unmarg.
			//- 			• Pay bills already setup in Bill Pay
			//- 	.col-md-12
			//- 		a.btn.btn-blue(href="https://itunes.apple.com/us/app/tulare-county-federal-credit/id672861009"  target="_blank" rel="noopener")
			//- 			span.btn__text Download the iOS App
			//- 	.col-md-12
			//- 		a.btn.btn-blue(href="https://play.google.com/store/apps/details?id=com.tularecountyfcu.mobile"  target="_blank" rel="noopener")
			//- 			span.btn__text Download the Andriod App
			//- #billpay.row.mt--1
			//- 	.col-md-12
			//- 		h5.color--blue Bill Pay
			//- 		p.
			//- 			Paper is great for some things, paying bills isn't one of them.
			//- .row.mt--2
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• Set up bills in one easy step
			//- 		p.bullet.unmarg.
			//- 			• Schedule one time & recurring payments
			//- 		p.bullet.unmarg.
			//- 			• Pay at least one bill a month & it's free
			//- 		p.bullet.unmarg.
			//- 			• #[span(data-tooltip="Person to Person payments let you send, receive or request money with just an email address or mobile number*") POP Money*]
			//- 		p.bullet.unmarg.
			//- 			• #[span(data-tooltip="Transfer money to and from other institutions to your Tulare Federal account") Account to Account Payments*]
			//- 		p.
			//- 			*Terms & conditions apply.
			//- .row.final
			//- 	.col-sm-12
			//- 		iframe(src="https://www.youtube.com/embed/HNSzJf99Dc8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="min-height:400px;")
