extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		if subPages.hsa.headerPosition != undefined
			.background-image-holder(class="#{subPages.hsa.headerPosition}")
				if subPages.hsa.headerImage != undefined
					img(src="#{asset(subPages.hsa.headerImage)}" alt="header image")
		else
			.background-image-holder.bg-cc
				if subPages.hsa.headerImage != undefined
					img(src="#{asset(subPages.hsa.headerImage)}" alt="header image")
				else
					img(src="/img/header/hsa.jpg" alt="header image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue= subPages.hsa.pageTitle
	section
		.container
			if subPages.hsa.subPageSections != undefined
				for item in subPages.hsa.subPageSections
					if item.sys.contentType.sys.id === 'textSection'
						- var sectionID = item.fields.sectionId == undefined ? '' : item.fields.sectionId
						.row.mb--2(id="#{item.fields.sectionId}")
							.col-sm-12
								if item.fields.subhead != undefined
									h5.color--blue= item.fields.subhead
								if item.fields.body != undefined
									.md!= md(item.fields.body)
			//- .row
			//- 	.col-md-12
			//- 		h5.color--blue Health Savings Account (HSA)
			//- 		p.
			//- 			HSA is a tax favored account that is combined with a qualifying high deductible health insurance plan. Employees who utilize a Health Savings Account can #[a(href="/pdf/hsa-contribution.pdf" target="_blank") deposit] tax-deducible funds into the account to cover 100% of health plan’s deductible, as well as other qualified medical, dental, and prescription expenses.
			//- .row.mt--2
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• $5 balance earns dividends
			//- 		p.bullet.unmarg.
			//- 			• Free debit card
			//- 		p.bullet.unmarg.
			//- 			• Add additional authorized users who may have access to a debit card
			//- 	.col-md-12
			//- 		a.btn.btn-blue(href="/pdf/hsa-app.pdf" target="_blank")
			//- 			span.btn__text Apply Now
			//- 		p.final.
			//- 			*Monthly maintenance fee of $2 applies for balances under $2,000.
				
