extends /layout


block content
	section#hero.cover.height-80.imagebg.parallax.overlay-blue(data-overlay="5")
		.background-image-holder
			img(src="/img/header/home.jpg" alt="")
		.container.pos-vertical-center
			.row
				.col-sm-12
					h1.hr-green-after.text-left More than a member, you are a partner

	section#home-landing
		.container
			.row.text-center
				.col-sm-12
					h3.color--blue A simple start to dreaming big
			.row
				.col-sm-12
					p.
						As a member, you mean the world to us. Together we will work with you to build a bright financial future for you and your family and give you the peace of mind of having a partner to guide you through the challenges and changes of life. 
					p.
						We strive to be more than facilitiators, we want to engage and take action to improve the lives of our members and everybody in our community. Apply to become a member, visit a branch and talk to our experts, connect with us through our website and see what it's like to bank with a credit union that is designed to do more.

	section#full-width-ads.unpad--bottom
		.row.text-center.unmarg
			if contentful.Promotions.length > 0
				- var num = 0
				for item in contentful.Promotions
					- var today = new Date()
					- var startDate = new Date(item.dateStart)
					- var endDate = new Date(item.dateEnd)
					- if (today > startDate && today < endDate)
						- num++
						//- console.log(num)
						a(href='#{item._url}' id="#{item.slug}")
							.col-sm-6.imagebg.height-60(data-overlay="5" class="overlay-#{item.overlay}")
								.background-image-holder
									img(alt="#{item.header.fields.title}" src="#{asset(item.header)}")
								.pos-vertical-center(style="padding: 0 15px;")
									h3 #{item.title}
									if item.subtitle != undefined
										p.mb--1= item.subtitle
									.btn.btn-white
										span.btn__text Learn More
						script.
							$(document).ready(function(){
								var today = new Date()
								var startDate = new Date('#{item.dateStart}')
								var endDate = new Date('#{item.dateEnd}')
								if(today < startDate && today > endDate){
									$('##{item.slug}').remove()
								}
							})
				if (num % 2) != 0
					.hidden-xs.col-sm-6.imagebg.height-60(data-overlay="5" class="overlay-green")
						.background-image-holder
							img(alt="testing" src="/img/test3.jpg")
						//-.pos-vertical-center
							h3 placeholder
							//-.btn.btn-white
	section#our-services
		.container
			.row.text-center
				.col-sm-12.mb--3
					h3.color--blue Banking made easy
			.row
				a(href='/checking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Checking" src="img/icons/checking-icon.png")
						h6.text-center CHECKING
				a(href='/savings')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="savings" src="img/icons/savings-icon.png")
						h6.text-center SAVINGS
				a(href='/loans/credit-cards')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Credit Card" src="img/icons/credit-card-icon.png")
						h6.text-center CREDIT CARD
				a(href='/loans/auto-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Auto Loans" src="img/icons/auto-loan-icon.png")
						h6.text-center VEHICLE LOANS
			.row
				a(href='/calculators')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Calculator" src="img/icons/home-loan-icon.png")
						h6.text-center CALCULATOR
				a(href='/digital-banking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Digital Banking" src="img/icons/digital-banking-icon.png")
						h6.text-center DIGITAL BANKING
				a(href='/loans/home-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Mortgage" src="img/icons/mortgage-icon.png")
						h6.text-center MORTGAGE
				a(href='/calculators')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Budgeting Tool" src="img/icons/budget-tool-icon.png")
						h6.text-center BUDGETING TOOL

	section.imagebg.parallax.height-60.overlay-green(data-overlay="5")
		.background-image-holder
			img(alt="Porterville Highschool Kids" src="/img/phs.jpg")
		.container.pos-vertical-center
			.row.text-center
				.col-sm-12
					h3 Our Vision for the Future
					p.large.
						We built the first on campus / student-run credit union branch on a high school campus in Tulare County. <br/> 
						This is our commitment to the next generation of Valley leaders.
					a.btn.btn-white(href="http://tularefederal.org/")
						span.btn__text Learn More
	section#customer-comments
		.container
			.row.text-center
				.col-xs-12.mb--1.unpad--bottom
					h3.color--blue See what everyone's talking about
			.row.text-center.slider(data-paging="true")
				ul.slides
					li.col-xs-12
						h6.color--green "I was a first time car buyer and totally overwhelmed by the process. Tulare Federal took the time to educate me on the process and worked hard to get me the best loan possible so all I had to worry about was finding the perfect car."
						p.color--green Cristina Gutierrez, Member since 2016
					li.col-xs-12
						h6.color--green TCFCU offered us the best rates for our solar, home and car loans. Their staff is friendly and always helpful. They make banking an enjoyable experience. 
						p.color--green Travis Roebuck
					li.col-xs-12
						h6.color--green "If you can't explain it simply, you don't understand it well enough."
						p.color--green Albert Einstein
