extends /layout


block content
	//-p= JSON.stringify(subPages)
	if contentful.notifications != undefined
		#notification-holder.pos-right.pos-bottom.col-sm-6.col-md-4
			for notification in contentful.notifications
				- var today = new Date()
				- var startDate = new Date(notification.dateStart)
				- var endDate = new Date(notification.dateEnd)
				- if (today > startDate && today < endDate)
					.notification(data-animation='from-bottom', data-autoshow='200' id="notification.id")
						.boxed.boxed--border.border--round.box-shadow
							.text-block
								h5= notification.title
								.md!=md(notification.body)
					script.
						$(document).ready(function(){
							var today = new Date()
							var startDate = new Date('#{notification.dateStart}')
							var endDate = new Date('#{notification.dateEnd}')
							if(today < startDate && today > endDate){
								console.log('Event is NOT within date-frame')
								$('##{notification.id}').remove()
							}
							else {
								console.log('Event is within date-frame')
							}
						})
	section#hero.home.cover.height-80.imagebg.parallax.overlay-blue(data-overlay="5")
		.background-image-holder
			img(src="#{asset(contentful.homePage[0].header)}" alt="")
		.container.pos-vertical-center
			.row
				.col-sm-8.col-lg-12
					h1#home-header-text.hr-green-after.text-left= contentful.homePage[0].homeHeaderText
			if contentful.homePage[0].headerSubParagraph != undefined
				.row
					.col-sm-8.col-lg-12
						.md!= md(contentful.homePage[0].headerSubParagraph)

	section#home-landing
		.container
			.row
				.col-sm-12
					h3.color--blue= contentful.homePage[0].homeIntroParagraph.fields.subhead
			.row
				.col-sm-12
					.md!= md(contentful.homePage[0].homeIntroParagraph.fields.body)
	section#full-width-ads.unpad--bottom
		.row.text-center.unmarg
			.slider(data-arrows="true")
				- console.log(contentful.Promotions.length)
				if contentful.Promotions.length > 2
					ul.slides
						for item in contentful.Promotions
							- var today = new Date()
							- var startDate = new Date(item.dateStart)
							- var endDate = new Date(item.dateEnd)
							- if (today > startDate && today < endDate)
								- num++
								//- console.log(num)
								li.col-sm-6
									a(href='#{item._url}' id="#{item.slug}")
										.imagebg.height-60(data-overlay="5" class="overlay-#{item.overlay}")
											.background-image-holder
												img(alt="#{item.header.fields.title}" src="#{asset(item.header)}")
											.pos-vertical-center(style="padding: 0 15px;")
												h3 #{item.title}
												if item.subtitle != undefined
													p.mb--1= item.subtitle
												.btn.btn-white
													span.btn__text Learn More
									script.
										$(document).ready(function(){
											var today = new Date()
											var startDate = new Date('#{item.dateStart}')
											var endDate = new Date('#{item.dateEnd}')
											if(today < startDate && today > endDate){
												$('##{item.slug}').remove()
											}
										})
				else if contentful.Promotions.length > 1
					for item in contentful.Promotions
						a(href='#{item._url}' id="#{item.slug}")
							.col-sm-6.imagebg.height-60(data-overlay="5" class="overlay-#{item.overlay}")
								.background-image-holder
									img(alt="#{item.header.fields.title}" src="#{asset(item.header)}")
								.pos-vertical-center(style="padding: 0 15px;")
									h3 #{item.title}
									if item.subtitle != undefined
										p.mb--1= item.subtitle
									.btn.btn-white
										span.btn__text Learn More
						script.
							$(document).ready(function(){
								var today = new Date()
								var startDate = new Date('#{item.dateStart}')
								var endDate = new Date('#{item.dateEnd}')
								if(today < startDate && today > endDate){
									$('##{item.slug}').remove()
								}
							})
				else if contentful.Promotions.length > 0
					for item in contentful.Promotions
						a(href='#{item._url}' id="#{item.slug}")
							.col-sm-6.imagebg.height-60(data-overlay="5" class="overlay-#{item.overlay}")
								.background-image-holder
									img(alt="#{item.header.fields.title}" src="#{asset(item.header)}")
								.pos-vertical-center(style="padding: 0 15px;")
									h3 #{item.title}
									if item.subtitle != undefined
										p.mb--1= item.subtitle
									.btn.btn-white
										span.btn__text Learn More
						script.
							$(document).ready(function(){
								var today = new Date()
								var startDate = new Date('#{item.dateStart}')
								var endDate = new Date('#{item.dateEnd}')
								if(today < startDate && today > endDate){
									$('##{item.slug}').remove()
								}
							})
					.col-sm-6.hidden-xs.imagebg.height-60(data-overlay="5" class="overlay-green")
						.background-image-holder
							img(alt="testing" src="/img/test3.jpg")
						.pos-vertical-center
							h3 Resources
							p.mb--1 Watch our videos to learn helpful information about money, banking, and ID theft prevention
							a.btn.btn-white(href="/resources")
								span.btn__text Learn More

								
	section#our-services
		.container
			.row.text-center
				.col-sm-12.mb--3
					h3.color--blue Banking made easy
			.row
				a(href='/checking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Checking" src="img/icons/checking-icon.png")
						h6.text-center CHECKING
				a(href='/savings')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="savings" src="img/icons/savings-icon.png")
						h6.text-center SAVINGS
				a(href='/credit-cards')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Credit Card" src="img/icons/credit-card-icon.png")
						h6.text-center CREDIT CARD
				a(href='/auto-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Auto Loans" src="img/icons/auto-loan-icon.png")
						h6.text-center VEHICLE LOANS
			.row
				a(href='/calculators')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Calculator" src="img/icons/home-loan-icon.png")
						h6.text-center CALCULATOR
				a(href='/digital-banking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Digital Banking" src="img/icons/digital-banking-icon.png")
						h6.text-center DIGITAL BANKING
				a(href='/home-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Mortgage" src="img/icons/mortgage-icon.png")
						h6.text-center MORTGAGE
				a(href='/resources')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Resources" src="img/icons/budget-tool-icon.png")
						h6.text-center RESOURCES

	section.imagebg.parallax.height-60(data-overlay="5" class="overlay-#{contentful.homePage[0].phsCallToAction.fields.overlay}")
		.background-image-holder
			img(alt="Porterville Highschool Kids" src="#{asset(contentful.homePage[0].phsCallToAction.fields.backgroundImage)}")
		.container.pos-vertical-center
			.row.text-center
				.col-sm-12
					h3= contentful.homePage[0].phsCallToAction.fields.title
					.md!= md(contentful.homePage[0].phsCallToAction.fields.body)
					a.btn.btn-white(href="#{contentful.homePage[0].phsCallToAction.fields.buttonLink}" target="_blank")
						span.btn__text= contentful.homePage[0].phsCallToAction.fields.buttonText
	section#customer-comments
		.container
			.row.text-center
				.col-xs-12.mb--1.unpad--bottom
					h3.color--blue See what everyone's talking about
			.row.text-center.slider(data-paging="true")
				ul.slides
					if contentful.homePage[0].memberQuotes != undefined
						for item in contentful.homePage[0].memberQuotes
							li.col-xs-12
								h6.color--green= item.fields.body
								p.color--green= item.fields.subhead
