extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		if subPages.protect.headerPosition != undefined
			.background-image-holder(class="#{subPages.protect.headerPosition}")
				if subPages.protect.headerImage != undefined
					img(src="#{asset(subPages.protect.headerImage)}" alt="header image")
		else
			.background-image-holder.bg-cc
				if subPages.protect.headerImage != undefined
					img(src="#{asset(subPages.protect.headerImage)}" alt="header image")
				else
					img(src="/img/header/protect.jpg" alt="header image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue= subPages.protect.pageTitle
	section
		.container
			if subPages.protect.subPageSections != undefined
				for item in subPages.protect.subPageSections
					.row.mb--2
						.col-sm-12
							if item.fields.subhead != undefined
								h5.color--blue= item.fields.subhead
							if item.fields.body != undefined
								.md!= md(item.fields.body)
			//- #gap.row.final
			//- 	.col-md-12
			//- 		h5.color--blue GAP (Guaranteed Auto Protection)
			//- 		p.
			//- 			If your vehicle is considered a total lost, due to an accident or theft, GAP coverage bridges the gap between what is owed on a vehicle and what the insurance company will pay. Plus, if in the case you use your GAP policy, you will receive $1,500 for a down payment on your next vehicle financed with Tulare Federal. Yes, we have your back!
			//- 		a.btn.btn-blue(href="/pdf/protect-GAP.pdf" target="_blank")
			//- 			span.btn__text Learn More
			//- #mbi.row.mt--1.final
			//- 	.col-md-12
			//- 		h5.color--blue MBI (Mechanical Breakdown Insurance) / Extended Warranty
			//- 		p.
			//- 			Protect your ride against major mechanical expenses– because we know that even the most reliable vehicle can develop a mechanical problem. Keep peace of mind knowing you will not have to pay an arm and a leg for mechanical repair costs.
			//- 		p.
			//- 			Available MBI plans are determined by the year, make, model and mileage of the vehicle.
			//- 
			//- 		a.btn.btn-blue(href="/pdf/protect-MBI.pdf" target="_blank")
			//- 			span.btn__text Learn More
			//- .row.mt--1.final
			//- 	.col-md-12
			//- 		h5.color--blue Debt Protection
			//- 		p.
			//- 			When life happens, protect loan balances or loan payments against death, disability, or involuntary unemployment. Protect your family against the unexpected.
			//- .row.mt--1.final
			//- 	.col-md-12
			//- 		h5.color--blue AD&D (Accidental Death & Dismemberment Insurance) 
			//- 		p.
			//- 			AD&D insurance can help protect you and your family if you have a fatal accident or one that causes you specific, catastrophic harm. Your Tulare Federal membership may qualify you for complimentary $2,000 AD&D coverage.
			//- 		a.btn.btn-blue(href="https://www.trustage.com/add/no-cost-coverage?orgIdentifier=000000001493&marketingCampaignCode=CCAD000002&utm_source=000000001493&utm_medium=CULK_Copy&utm_campaign=CCAD000002&utm_content=CM000626" target="_blank" rel="noopener") 
			//- 			span.btn__text Enroll Today
