extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		.background-image-holder
			img.attachment-full.size-full(src="#{asset(entry.header)}" alt="Header image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue= entry.title
	//-section
		.container
			.row
				if entry.dateStart != undefined
					.col-sm-12
						- var start = new Date(entry.dateStart)
						- var end = new Date(entry.dateEnd)
						- var monthNames = ["January", "February", "March", "April", "May", "June",  "July", "August", "September", "October", "November", "December" ];
						p.
							Promotion valid through #{monthNames[start.getMonth()]} #{start.getDate()}, #{start.getFullYear()} - #{monthNames[end.getMonth()]} #{end.getDate()}, #{end.getFullYear()}
				else
					- var end = new Date(entry.dateEnd)
					- var monthNames = ["January", "February", "March", "April", "May", "June",  "July", "August", "September", "October", "November", "December" ];
					p.
						Promotion valid through #{monthNames[end.getMonth()]} #{end.getDate()}, #{end.getFullYear()}
	if entry.promoSections != undefined
		if entry.promoSections.length > 0
			section.unpad--top.final
				.container
					for item in entry.promoSections
						.row
							.col-sm-12
								h4.color--blue.mb--2= item.fields.subhead
								!= md(item.fields.body)
	if entry.callToAction != undefined
		if entry.callToAction.fields.backgroundImage != undefined
			section.imagebg.unpad--top.final.height-50(data-overlay="5" class="overlay-#{entry.callToAction.fields.overlay}")
				.background-image-holder.bg-cc
					img(src="#{asset(entry.callToAction.fields.backgroundImage)}")
				.container.pos-vertical-center
					.row.text-center
						.col-sm-12
							h4.color--blue.mb--2= entry.callToAction.fields.title
							p= entry.callToAction.fields.body
							if entry.callToAction.fields.buttonLink != undefined && entry.callToAction.fields.buttonText != undefined
								a.btn.btn-white(href="#{entry.callToAction.fields.buttonLink}")
									span.btn__text= entry.callToAction.fields.buttonText
		else
			section.unpad--top.final
				.container
					.row
						.col-sm-12
							h4.color--blue.mb--2= entry.callToAction.fields.title
							p= entry.callToAction.fields.body
							if entry.callToAction.fields.buttonLink != undefined && entry.callToAction.fields.buttonText != undefined
								a.btn.btn-white(href="#{entry.callToAction.fields.buttonLink}")
									span.btn__text= entry.callToAction.fields.buttonText
	if entry.disclosure != undefined
		section.unpad--top.final
			.container
				.row
					.col-sm-12
						p= entry.disclosure
						if entry.fullDisclosure != undefined
							a.btn.btn-blue(href="#{asset(entry.fullDisclosure)}" target="_blank")
								span.btn__text Full disclosure
