extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		if contentful.solarLoans[0].headerPosition != undefined
			.background-image-holder(class="#{contentful.solarLoans[0].headerPosition}")
				if contentful.solarLoans[0].headerImage != undefined
					img(src="#{asset(contentful.solarLoans[0].headerImage)}" alt="header image")
		else
			.background-image-holder.bg-cc
				if contentful.solarLoans[0].headerImage != undefined
					img(src="#{asset(contentful.solarLoans[0].headerImage)}" alt="header image")
				else
					img(src="/img/header/solarLoans.jpg" alt="header image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue= contentful.solarLoans[0].pageTitle
	section
		.container
			if contentful.solarLoans[0].subPageSections != undefined
				for item in contentful.solarLoans[0].subPageSections
					.row.mb--2
						.col-sm-12
							if item.fields.subhead != undefined
								h5.color--blue= item.fields.subhead
							if item.fields.body != undefined
								.md!= md(item.fields.body)
			//- .row
			//- 	.col-md-12
			//- 		h5.color--blue Secure Solar Deed of Trust
			//- 		p.
			//- 			Yes, it’s a mortgage, and it’s awesome. Fund the installation of your solar panels with a loan secured by your home in order to pay super low interest.
			//- .row.mt--2
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• No payments for 90-days to allow time for construction
			//- 		p.bullet.unmarg.
			//- 			• One-time #[span(data-tooltip="Reamortizating the loan will allow you to lower your monthly payments after making a large payment towards the principal.") reamortization] option to reduce your payment for the remaining life of the loan
			//- 		p.bullet.unmarg.
			//- 			• Low, fixed interest #[a(href="/rates#solar-rates") rates] for terms up to 20 years
			//- 		p.bullet.unmarg.
			//- 			• Minimal fees due upon credit approval
			//- 		p.bullet.unmarg.
			//- 			• Traditional equity restrictions may not apply advances up to 5% more than your home’s value
			//- 	.col-md-12
			//- 		a.btn.btn-blue(href="https://internetloanapplication.cudl.com/tulare/")
			//- 			span.btn__text Apply Now!
			//- .row.mt--1
			//- 	.col-md-12
			//- 		h5.color--blue Unsecure Solar
			//- 		p.
			//- 			Don’t have equity? Don’t want to add a lien to your home? No worries, just promise to pay it back.
			//- .row.mt--2.final
			//- 	.col-md-12
			//- 		p.bullet.unmarg.
			//- 			• No payments for 90-days to allow time for construction
			//- 		p.bullet.unmarg.
			//- 			• No upfront fees, ever
			//- 		p.bullet.unmarg.
			//- 			• Low unsecure interest #[a(href="/rates#solar-rates") rates]
			//- 		p.bullet.unmarg.
			//- 			• Terms up to 15 years
			//- 	.col-md-12
			//- 		a.btn.btn-blue(href="https://internetloanapplication.cudl.com/tulare/")
			//- 			span.btn__text Apply Now!
